/*Lourenço Sofécia email: lsdevgamer@gmail.com*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --font-family: "Poppins", sans-serif;
  --dark-blue: #0a1930;
  --light-blue: #1f93ff;

  --color-white: #fff;
  --color-black: #000;
  --color-dark: #333;

  --color-grey: #eee;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  --color-purple: #9d0191;
  --color-orange: #ff7722;
  

  --color-primary: #007bff;
  --color-sucess: #28a745;
  --color-danger: #8c52ff;
}
/* #8c52ff;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html 
{
  font-size: 10px;
}

body 
{
  font-family: var(--font-family);
}

section 
{
  width: 100%;
  padding: 0px 0px 1rem 0px;
}

.container 
{
  max-width: 1200px;
  margin: -6px auto;
}
.--btn, .--btn-google
{
  display: block;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 1rem;
  margin: 1rem auto;
  width: 100%;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
  cursor: pointer;

  color: #fff;
}
.--btn-google
{
  background-color: #9c27cf;
}
.--btn-google:hover
{
  background-color: #8c52ff;
  transition: all 0.5s;
}
.--btn
{
  background-color: #8c52ff;
}
.--btn:hover
{
  background-color: #9c27cf;
  transition: all 0.5s;
}
.txt-reset{
  font-size: 1.4rem;
  
  text-decoration: none;
}